<section>
    <div class="author">
        <img id="foto.jpg" style="height: 300px;" src="images/none.jpg" alt="Foto de Paula Ferreiro Vázquez" >
        <div class="informacion-inicial">
            <span></span><h1 id="nombre">Paula Ferreiro Vázquez</h1>
                <h3>Datos Personales:</h3>
                <div class="datos-personales">
                    <p id="fecha_nacimiento"><b>Fecha de nacimiento:</b> 21 de Junio de 2002</p>
                    <p id="telefono"> <b>Teléfono:</b>698178900</p>
                    <p id="email"><b>Email:</b> paulaferreiro09@gmail.com</p>
                    <p id="direccion"><b>Dirección:</b> Rúa da Emigración, Vilalba (Lugo)</p>
                </div>
        </div>
    </div>
</section>
<section id="formacion">
    <h3>Formación:</h3>
        <ul>
            <li>Grado en Ingeniería de Tecnologías y Servicios de Telecomunicación (UPM)</li>
            <li>Bachillerato (I.E.S. Santiago Basanta Silva)</li>
            <li>E.S.O (I.E.S. Santiago Basanta Silva)</li>
        </ul>
</section>

<section id="otros">
    <h3>Otros:</h3>
        <ul>
            <li> <b>Correo de alumno UPM: </b>paula.ferreiro@alumnos.upm.es</li>
        
</section>