<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header id="mainHeader" class="main">
            <h1>The Blog Site</h1>
        </header>
        <nav>
            <div class="links">
                <a href="/">Home</a>
                <a href="/author">Author</a>
                <a href="/posts">Posts</a>
            </div>
            
            <%- body %>

        </nav> 
        <footer>
            <hr>
            <p>Paula Ferreiro Vázquez</p>
            <p>Práctica 6: TECW/CORE Curso 2023-2024</p>
            <hr>
        </footer>
    </body>
</html>